html,body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}
.ant-row:hover{
    background-color: #EDEDED;
}

.link:link {
    color: black;
}
.link:visited {
    color: grey;
}

.link:hover {
    color: blue;
    text-decoration: underline
}
.link:active {
    color: red;
}